<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>アカウント認証 | ANCHOR</title>
</head>
<body>
    <div class="items">
        <h1 class="title">ANCHOR</h1>
        
        <form action="" method="post">

            {% if error_msg %}
            <ul class="error_ul">
                {% for error in error_msg %}
                    <li class="error_items">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

            <p>{{fullname}}様</p>
            <p>入力したメールアドレスに認証コードを送信しました。<br>
                認証コードを入力してください。</p>
            
            <div class="input_items">
                <input type="text" name="authcode" required placeholder="認証コード">
            </div>
            
            <br>
            
            <div class="submit_items">
                <input type="submit" value="認証する" class="submit_btn">
            </div>
        </form>
    </div>
</body>
</html>







