<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js?ver=3.4.1"></script>
    <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.autoKana.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/password_checker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/change_kana.js') }}"></script>
    <title>登録情報変更 | ANCHOR</title>
</head>

<body>
    <div class="register_contents">
        <h1 class="title">ANCHOR</h1>

        {% if error_msg %}
        <ul class="error_ul">
            {% for error in error_msg %}
                <li class="error_items">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <form action="" method="post"">
            <h1 class="register_title">パスワード変更</h1>
                <h2 class="register_category"><span style="color:red;">*</span>がついているものは必須です。</h2>
                <div class="password_requirements">
                    <h2 class="register_category">＊パスワードは８文字以上</h2>
                    <h2 class="register_category">＊大文字・小文字は少なくとも１文字以上含む</h2>
                    <h2 class="register_category">＊数字は少なくとも１文字以上含む</h2>
                    <h2 class="register_category">＊特殊記号は１文字以上含む</h2>
                </div>
    
                    <p class="register_input_title">現在のパスワード</p>
                        <div class="register_input_item">
                            <input type="password" name="o_password"required>
                        </div><!--register_input_item-->
    
                    <p class="register_input_title">新しいパスワード</p>
                        <div class="register_input_item">
                            <input type="password" name="n_password" required>
                        </div><!--register_input_item-->
    
                    <p class="register_input_title">新しいパスワード（再確認用）</p>
                        <div class="register_input_item">
                            <input type="password" name="n_password_r" >
                        </div><!--register_input_item-->

                        <!--登録ボタン-->

                        <div class="register_submit_item">
                            <input type="submit" value="登録する" class="submit_btn">
                        </div>

                        <small class="copyright">© 2024 ANCHOR lnc.</small>
                    </div>
                </form>
                    
</body>

</html>